<!doctype html>
<html>
<head>
    <title>Freedom React App</title>
    <link href='/styles.css' rel="stylesheet">
</head>
<body>
    <h1 id="main-title">Freedom React App</h1>

    <div id="react-main-mount">
        <%- rederedHtml %>
    </div>

    <!--script src="/public/<%- bundleName %>.js"></script-->

</body>
</html>
